@import "tailwindcss";

body {
    background-color: #f5faff;
}

.review-fade {
    animation: review-fade-in 0.8s ease-in;
}

@keyframes review-fade-in {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.accordian-slide-down {
    animation: accordian-slide-down 0.3s ease-in-out;
}

@keyframes accordian-slide-down {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        /* Adjust based on content */
        opacity: 1;
    }
}

@keyframes productFadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation utility */
.product-fade-up {
    animation: productFadeUp 0.5s ease-out forwards;
}